html {
    scroll-behavior: smooth;
}

body {
    background-image: url(/images/gra.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

a {
    font-size: 25px;
    font-weight: bold;
}

.table1 {
    border-collapse: collapse;
    font-size: 20px;
    min-width: 350;
    margin: auto;
    border-style: solid;
}

.button {
    padding-bottom: 20px;

}

.cart {
    margin-left: 885px;
}

.table1 thead tr {
    background-color: blue;
    color: white;
    text-align: center;
    font-weight: bold;

}

.table1 th,
.table td {
    padding: 10px 70px;
}

.table tbody,
tr {
    color: black;
    border: solid;
    background-color: white;
    text-align: center;


}